#root {
  max-width: screen;
  margin: 0 auto;
  /* padding: 2rem 0; */
  text-align: center;
}
.backImg{
  background-image: url('/slider-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
}